*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  cursor: pointer;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

html:focus-within {
  scroll-behavior: smooth;
}

html {
  font-size: 15px;
  font-family: "Poppins", sans-serif;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  max-width: 1200px;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 5em 1em;
  margin: 0 auto;
  color: hsl(var(--very-dark-blue));
}

:root {
  --red: 0 78% 62%;
  --cyan: 180 62% 55%;
  --orange: 34 97% 64%;
  --blue: 212 86% 64%;
  --very-dark-blue: 234 12% 34%;
  --grayish-blue: 229 6% 66%;
  --very-light-gray: 0 0% 98%;

  /* SPACE */
  --gap-1: 1em;
  --gap-2: 2em;
  --gap-3: 3em;
  --gap-4: 4em;
  --gap-5: 5em;
}

h1 {
  font-weight: 200;
  max-width: 25ch;
  margin: auto;
  text-align: center;
}

p {
  color: hsl(var(--grayish-blue));
}

b {
  font-weight: 600;
}

header > p {
  margin-top: var(--gap-1);
  font-weight: 200;
  max-width: 55ch;
  text-align: center;
}

main {
  margin-top: var(--gap-4);
}

main {
  display: flex;
  gap: var(--gap-2);
  align-items: center;
  flex-wrap: wrap;
}

.col {
  flex: 1 1 30%;
  /* min-width: 300px; */
}

.mid-col {
  display: flex;
  flex-direction: column;
  gap: var(--gap-2);
}

article {
  padding: var(--gap-2);
  box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.1);
  border-radius: 5px;
  min-width: 250px;
}

article > p {
  margin-top: 0.5em;
}

article > img {
  margin-top: var(--gap-3);
  margin-left: auto;
}

.supervisor {
  border-top: 4px solid hsl(var(--cyan));
}

.team-builder {
  border-top: 4px solid hsl(var(--red));
}

.karma {
  border-top: 4px solid hsl(var(--orange));
}

.calculator {
  border-top: 4px solid hsl(var(--blue));
}

